@import './styles/_settings.css';
@import './styles/utilities.css';

/* You can add global styles to this file, and also import other style files */

/* base */
body,
html {
  height: 100%;
  font-family: 'Source Sans Pro', Verdana, sans-serif;

  margin: 0;
  padding: 0;
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
  color: var(--color-main);
}

.title {
  margin-bottom: 1em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {
  background: var(--color-header);
  height: calc(var(--header-height) - var(--common-margin) * 2);
  padding: var(--common-margin);
  position: fixed;
  z-index: 9001;
  top: 0;
  width: 100%;
  display: flex;
  line-height: var(--header-text-height);
  box-shadow: 0 0 1em color-mix(in srgb, var(--color-main) 25%, transparent);
}

.page-header > * {
  color: var(--color-main);
}

.page-header .header-logo {
  height: 2em;
  margin-right: var(--common-margin);
}

.page-header .header-search {
  flex: 1;
  padding: 0 var(--common-margin);
  display: flex;
}

.page-header .header-search label {
  margin: 0 var(--common-margin);
}

.page-header .header-search input[type='text'] {
  flex: 1;
  border-radius: 1em 0 0 1em;
  border-right: 0;
}

.page-header .header-search button {
  margin-left: -1px;
}

.page-header .header-search button:hover,
.page-header .header-search button:focus {
  color: var(--color-header);
  background-color: var(--color-main);
}

.page-header .header-links {
  display: flex;
  margin-right: 1em;
}

.page-header .header-links a {
  color: var(--color-main);
  display: block;
  margin-right: calc(var(--common-margin) * 2);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-position 1s ease-in-out;
}

.page-header .header-links a:hover,
.page-header .header-links a:focus {
  color: var(--color-main-light);
}

.page-header li {
  padding: none;
  list-style-type: none;
}

/* forms */
fieldset {
  border: none;
}

input,
input[type='reset'],
input[type='reset'],
input[type='button'],
button {
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
  background-color: transparent;
  border: solid 1px var(--color-main);
  color: var(--color-main);
}

input:focus {
  box-shadow: inset 0 0 0.5em var(--color-main);
}

.loops-load-more {
  margin: 0 auto;
  display: block;
}

.loops-loader {
  --loader-size: 120px;
  display: flex;
  margin: 0 auto 1em;
  width: var(--loader-size);
  height: var(--loader-size);
  position: relative;
}

.loops-loader p {
  position: absolute;
  color: var(--color-main);
  top: 53px;
  left: 30px;
  text-align: center;
  margin: 0;
}

.loops-loader .loader-circle {
  background-color: transparent;
  border: solid 1px var(--color-main);
  color: var(--color-main);
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: calc(var(--loader-size) * 0.5);
  transform-origin: calc(var(--loader-size) * 0.5) calc(var(--loader-size) * 0.5);
  transform: scale(1);
  animation: circle-grow 3s infinite;
  position: absolute;
  left: 0;
}

.loops-loader .loader-circle:nth-child(1) {
  animation-delay: 0.5s;
}

.loops-loader .loader-circle:nth-child(2) {
  animation-delay: 1s;
}

.loops-loader .loader-circle:nth-child(3) {
  animation-delay: 1.5s;
}

.loops-loader .loader-circle:nth-child(4) {
  animation-delay: 2s;
}

@keyframes circle-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* icons */

@font-face {
  font-family: 'Batch';
  src: url('/assets/font/batch-icons-webfont.eot');
  src:
    url('/assets/font/batch-icons-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/batch-icons-webfont.woff') format('woff'),
    url('/assets/font/batch-icons-webfont.ttf') format('truetype'),
    url('/assets/font/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
