@import '../styles/breakpoints.css';

:host {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.gotloop-main {
  margin-top: 5em;
  height: 100%;
}

@media (--viewport-sm-only) {
  .gotloop-main {
    margin-top: 0em;
    padding-left: 7em;
  }
}

@media (--viewport-md) {
  .gotloop-main {
    margin-top: 3em;
  }
}

@media (--viewport-lg) {
  .gotloop-main {
    margin-top: 3em;
  }
}
