/* base */
body,
html {
  height: 100%;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 2px,
      rgba(0, 0, 0, 0) 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, rgba(0, 0, 0, 0) 2px),
    linear-gradient(0deg, rgba(255, 255, 255, 0.25) 1px, rgba(0, 0, 0, 0) 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.25) 1px, rgba(0, 0, 0, 0) 1px),
    rgb(34, 102, 153);
  background-size:
    100px 100px,
    100px 100px,
    20px 20px,
    20px 20px;
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
  color: var(--color-main);
}

.title {
  margin-bottom: 1em;
}

.page-content {
  margin: 0 auto;
  width: 640px;
  color: var(--color-header);
}

.page-footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  height: var(--header-height);
  background-image: linear-gradient(0deg, white, rgba(0, 0, 0, 0));
}

/* view show hide system based on #hash */
section:not(:target) {
  display: none;
}

section:target {
  display: block;
}

section h2 {
  padding-top: var(--header-height);
}

/* forms */
fieldset {
  border: 0;
}

input,
input[type='reset'],
input[type='reset'],
input[type='button'],
button {
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
  background-color: transparent;
  border: solid 1px var(--color-main);
  color: var(--color-main);
}

input:focus {
  box-shadow: inset 0 0 0.5em var(--color-main);
}

.loop-buttons {
  position: relative;
  display: flex;
  align-items: center;
  margin: -2em 1em 0;
}

.loop-buttons .loop-play-pause-button {
  --rounded-size: 4em;
  --rounded-color: var(--color-green);
  text-align: center;
  text-transform: uppercase;
}

.loop-buttons .loop-like-button {
  --rounded-size: 3em;
  --rounded-color: var(--color-red-dark);
  margin-left: 1em;
  text-align: center;
}

.loop-buttons .loop-comment-button {
  --rounded-size: 2em;
  --rounded-color: var(--color-blue-dark);
  padding: 0 1em;
  width: auto;
  margin-left: auto;
}
