services:
  # external data sources

  # Database for objects data.
  dat:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - data:/var/lib/postgresql/data

  # Cloud storage (like S3) for sound/binary data.
  bin:
    image: minio/minio
    restart: always
    command: server /export --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - binary:/export

  # internal node services

  # REST api (fastify)
  api:
    build:
      context: .
      target: api
      args:
        NODE_VERSION: ${NODE_VERSION}
    restart: always
    environment:
      HOST: 0.0.0.0
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@dat:5432/${POSTGRES_DB}
    ports:
      - 6060:3000
    depends_on:
      - dat
      - bin

  # Main server (angular SSR + fastify)
  www:
    build:
      context: .
      target: www
      args:
        NODE_VERSION: ${NODE_VERSION}
    restart: always
    ports:
      - 6070:4000
    depends_on:
      - api

  # Database admin UI
  adm:
    build:
      context: .
      target: adm
      args:
        NODE_VERSION: ${NODE_VERSION}
    restart: always
    ports:
      - 8080:80

volumes:
  data:
    driver: local
  binary:
    driver: local
