@import '../../../../styles/breakpoints.css';

.gotloop-footer {
  width: 100%;
  text-align: center;
  height: calc(var(--header-height) * 0.5);
  position: fixed;
  padding: 0 20px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  background: white;
  color: var(--color-main);
}

@media (--viewport-md-only) {
  .gotloop-footer {
    position: fixed;
  }
}
