/* gotloop colors and vars */

:root {
  /* Main theme colors */
  --color-main: #3384b8;
  --color-background: #e8e8e8;
  --color-header: #071620;
  --color-grey: #808080;
  /* uncomment for light theme */
  /* --color-header: white; */
  --color-main-light: #7fb8dd;

  /* Color palette */
  /* http://paletton.com/#uid=33v0u0koACierPbjXIhufyHx7pS */
  --color-blue: #3384b8;
  --color-blue-light: #7fb8dd;
  --color-blue-dark: #085384;

  --color-yellow: #ffcc3b;
  --color-yellow-light: #ffe18c;
  --color-yellow-dark: #ce9800;

  --color-red: #ff6d3b;
  --color-red-light: #ffa98c;
  --color-red-dark: #ce3500;

  --color-green: #2dc37b;
  --color-green-light: #7ce2b1;
  --color-green-dark: #008f4a;

  /* Sizes */
  --header-height: 3em;
  --common-margin: 0.5em;
  --shadow-alpha: 0.25;
  --header-text-height: calc(var(--header-height) - var(--common-margin) * 2);
}
