@import '../../../../styles/breakpoints.css';

.gotloop-header {
  background: var(--color-header);
  height: calc(var(--header-height) - var(--common-margin) * 2);
  padding: var(--common-margin);
  position: fixed;
  z-index: 9001;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  line-height: var(--header-text-height);
  box-shadow: 0 0 1em color-mix(in srgb, var(--color-main) 25%, transparent);
}

.gotloop-header > * {
  color: var(--color-main);
}

@media (--viewport-sm-only) {
  .gotloop-header {
    height: 100%;
    width: 6em;
    left: 0;
    bottom: 0;
    flex-direction: column;
  }
}

.header-logo {
  height: 2em;
  width: 4em;
  margin-right: var(--common-margin);
  flex: 0 0 auto;
}

@media (--viewport-sm-only) {
  .header-logo-text {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .header-logo {
    font-size: 1.5em;
  }
}

.header-links {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  background: white;
  position: absolute;
  padding: 0 20px;
  top: 3em;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
}

@media (--viewport-sm) {
  .header-links {
    background: transparent;
    position: relative;
    top: inherit;
    right: inherit;
    left: inherit;
    padding: 0;
  }
}

@media (--viewport-sm-only) {
  .header-links {
    flex-direction: column;
  }

  .header-links .header-link {
    margin-right: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

@media (--viewport-sm-only) {
  .spacer {
    flex: 0 0 auto;
  }
}

.header-link:not(:last-child) {
  margin-right: calc(var(--common-margin) * 2);
}

.header-link {
  color: var(--color-main);
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-position 1s ease-in-out;
}

.header-link:visited {
  color: var(--color-main);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-main-light);
}
